<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IAttachmentDAO">
	<resultMap id="attachment_DB_Result" type="attachment">
		<result column="code" property="code" />
		<result column="category" property="category" />
		<result column="biz_code" property="bizCode" />
		<result column="kname" property="kname" />
		<result column="vname" property="vname" />
		<result column="attach_type" property="attachType" />
		<result column="url" property="url" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="category != null and category != '' ">
				AND t.category = #{category}
			</if>
			<if test="bizCode != null and bizCode != '' ">
				AND t.biz_code = #{bizCode}
			</if>
			<if test="kname != null and kname != '' ">
				AND t.kname = #{kname}
			</if>
			<if test="vname != null and vname != '' ">
				AND t.vname = #{vname}
			</if>
			<if test="attachType != null and attachType != '' ">
				AND t.attach_type = #{attachType}
			</if>
		</trim>
	</sql>
	
	<select id="select_attachment" parameterType="attachment" resultMap="attachment_DB_Result">
		SELECT
		t.code
		,t.category
		,t.biz_code
		,t.kname
		,t.vname
		,t.attach_type
		,t.url
		FROM
		tqj_attachment t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_attachment_count" parameterType="attachment"
		resultType="java.lang.Long">
		SELECT count(1) FROM tqj_attachment t
		<include refid="where_condition" />
	</select>

	<insert id="insert_attachment" parameterType="attachment">
		INSERT INTO
		tqj_attachment(
		code
		,category
		,biz_code
		,kname
		,vname
		
		,attach_type
		,url
		)
		VALUES(
		#{code}
		,#{category}
		,#{bizCode}
		,#{kname}
		,#{vname}
		
		,#{attachType}
		,#{url}
		)
	</insert>
	
	<update id="update_attachment" parameterType="attachment">
		UPDATE tqj_attachment
		SET
		url=#{url}
		WHERE code=#{code}
	</update>
	
	<delete id="delete_attachment" parameterType="attachment">
		DELETE FROM tqj_attachment 
		WHERE code = #{code} 
	</delete>

	<delete id="delete_attachmentByBiz">
		DELETE FROM tqj_attachment WHERE biz_code = #{bizCode} AND attach_type = #{attachType}
	</delete>

</mapper>