<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IAttachmentDAO">
	<resultMap id="attachment_DB_Result" type="attachment">
		<result column="code" property="code" />
		<result column="biz_code" property="bizCode" />
		<result column="attach_type" property="attachType" />
		<result column="url" property="url" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="bizCode != null and bizCode != '' ">
				AND t.biz_code = #{bizCode}
			</if>
			<if test="attachType != null and attachType != '' ">
				AND t.attach_type = #{attachType}
			</if>
		</trim>
	</sql>
	<select id="select_attachment" parameterType="attachment" resultMap="attachment_DB_Result">
		SELECT
		t.code
		,t.biz_code
		,t.attach_type
		,t.url
		FROM
		tqj_attachment t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_attachment_count" parameterType="attachment"
		resultType="java.lang.Long">
		SELECT count(1) FROM tqj_attachment t
		<include refid="where_condition" />
	</select>

	<insert id="insert_attachment" parameterType="attachment">
		INSERT INTO
		tqj_attachment(
		code
		,biz_code
		,attach_type
		,url
		)
		VALUES(
		#{code}
		,#{bizCode}
		,#{attachType}
		,#{url}
		)
	</insert>

	<update id="update_attachment" parameterType="attachment">
		UPDATE tqj_attachment
		SET
		biz_code = #{bizCode}
		,attach_type = #{attachType}
		,url = #{url}
		WHERE code = #{code}
	</update>


</mapper>