<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IBusDAO">
	<resultMap id="bus_DB_Result" type="bus">
		<result column="code" property="code" />
		<result column="model" property="model" />
		<result column="number" property="number" />
		<result column="insurance_end_datetime" property="insuranceEndDatetime" />
		<result column="park_location" property="parkLocation" />
		<result column="pic" property="pic" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_bus" parameterType="bus" resultMap="bus_DB_Result">
		SELECT
		t.code
		,t.model
		,t.number
		,t.insurance_end_datetime
		,t.park_location
		,t.pic
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_bus t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_bus_count" parameterType="bus"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_bus t
		<include refid="where_condition" />
	</select>

	<insert id="insert_bus" parameterType="bus">
		INSERT INTO
		tp_bus(
		code
		,model
		,number
		,insurance_end_datetime
		,park_location
		,pic
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{model}
		,#{number}
		,#{insuranceEndDatetime}
		,#{parkLocation}
		,#{pic}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>
	
	<delete id="delete_bus" parameterType="bus">
		DELETE FROM tp_bus
		WHERE
		code = #{code}
	</delete>

	<update id="update_bus" parameterType="bus">
		UPDATE tp_bus
		SET
		model = #{model}
		,number = #{number}
		,insurance_end_datetime = #{insuranceEndDatetime}
		,park_location = #{parkLocation}
		,pic = #{pic}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>