<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICdbizDAO">
	<resultMap id="cdbiz_DB_Result" type="cdbiz">
		<result column="code" property="code" />
		<result column="biz_code" property="bizCode" />
		<result column="type" property="type" />
		<result column="biz_type" property="bizType" />
		<result column="repay_biz_code" property="repayBizCode" />
		<result column="company_code" property="companyCode" />
		<result column="team_code" property="teamCode" />
		<result column="captain_code" property="captainCode" />
		<result column="sale_user_id" property="saleUserId" />
		<result column="inside_job" property="insideJob" />
		<result column="loan_bank" property="loanBank" />
		<result column="loan_amount" property="loanAmount" />
		<result column="enter_location" property="enterLocation" />
		<result column="enter_datetime" property="enterDatetime" />
		<result column="enter_fileList" property="enterFilelist" />
		<result column="status" property="status" />
		<result column="mq_status" property="mqStatus" />
		<result column="fbhgps_status" property="fbhgpsStatus" />
		<result column="fircundang_status" property="fircundangStatus" />
		<result column="seccundang_status" property="seccundangStatus" />
		<result column="zf_status" property="zfStatus" />
		<result column="cur_node_code" property="curNodeCode" />
		<result column="intev_cur_node_code" property="intevCurNodeCode" />
		<result column="make_card_node" property="makeCardNode" />
		<result column="fbhgps_node" property="fbhgpsNode" />
		<result column="cancel_node_code" property="cancelNodeCode" />
		<result column="is_gps_az" property="isGpsAz" />
		<result column="is_finacing" property="isFinacing" />
		<result column="is_advance_fund" property="isAdvanceFund" />
		<result column="is_plat_insure" property="isPlatInsure" />
		<result column="should_fee_amount" property="shouldFeeAmount" />
		<result column="real_fee_amount" property="realFeeAmount" />
		<result column="gua_mode" property="guaMode" />
		<result column="credit_note" property="creditNote" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="bizCode != null and bizCode != '' ">
				AND t.biz_code = #{bizCode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="bizType != null and bizType != '' ">
				AND t.biz_type = #{bizType}
			</if>
			<if test="repayBizCode != null and repayBizCode != '' ">
				AND t.repay_biz_code = #{repayBizCode}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="teamCode != null and teamCode != '' ">
				AND t.teamCode = #{teamCode}
			</if>
			<if test="captainCode != null and captainCode != '' ">
				AND t.captain_code = #{captainCode}
			</if>
			<if test="saleUserId != null and saleUserId != '' ">
				AND t.sale_user_id = #{saleUserId}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="mqStatus != null and mqStatus != '' ">
				AND t.mq_status = #{mqStatus}
			</if>
			<if test="fbhgpsStatus != null and fbhgpsStatus != '' ">
				AND t.fbhgps_status = #{fbhgpsStatus}
			</if>
			<if test="fircundangStatus != null and fircundangStatus != '' ">
				AND t.fircundang_status = #{fircundangStatus}
			</if>
			<if test="seccundangStatus != null and seccundangStatus != '' ">
				AND t.seccundang_status = #{seccundangStatus}
			</if>
			<if test="zfStatus != null and zfStatus != '' ">
				AND t.zf_status = #{zfStatus}
			</if>
			<if test="curNodeCode != null and curNodeCode != '' ">
				AND t.cur_node_code = #{curNodeCode}
			</if>
			<if test="intevCurNodeCode != null and intevCurNodeCode != '' ">
				AND t.intev_cur_node_code = #{intevCurNodeCode}
			</if>
			<if test="makeCardNode != null and makeCardNode != '' ">
				AND t.make_card_node = #{makeCardNode}
			</if>
			<if test="fbhgpsNode != null and fbhgpsNode != '' ">
				AND t.fbhgps_node = #{fbhgpsNode}
			</if>
			<if test="cancelNodeCode != null and cancelNodeCode != '' ">
				AND t.cancel_node_code = #{cancelNodeCode}
			</if>
			<if test="isGpsAz != null and isGpsAz != '' ">
				AND t.is_gps_az = #{isGpsAz}
			</if>
			<if test="isAdvanceFund != null and isAdvanceFund != '' ">
				AND t.is_advance_fund = #{isAdvanceFund}
			</if>
			<if test="guaMode != null and guaMode != '' ">
				AND t.gua_mode = #{guaMode}
			</if>
		</trim>
	</sql>
	<select id="select_cdbiz" parameterType="cdbiz" resultMap="cdbiz_DB_Result">
		SELECT
		t.code
		,t.biz_code
		,t.main_loaner
		,t.bank_code
		,t.biz_type
		,t.dk_amount
		,t.status
		,t.mq_status
		,t.fbhgps_status
		,t.fircundang_status
		,t.seccundang_status
		,t.zf_status
		,t.ywy_user
		,t.team_code
		FROM
		tqj_cdbiz t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_cdbiz_count" parameterType="cdbiz"
		resultType="java.lang.Long">
		SELECT count(1) FROM tqj_cdbiz t
		<include refid="where_condition" />
	</select>

	<insert id="insert_cdbiz" parameterType="cdbiz">
		INSERT INTO
		tqj_cdbiz(
		code
		,biz_code
		,main_loaner
		,bank_code
		,biz_type
		,dk_amount
		,status
		,mq_status
		,fbhgps_status
		,fircundang_status
		,seccundang_status
		,zf_status
		,ywy_user
		,team_code
		)
		VALUES(
		#{code}
		,#{bizCode}
		,#{mainLoaner}
		,#{bankCode}
		,#{bizType}
		,#{dkAmount}
		,#{status}
		,#{mqStatus}
		,#{fbhgpsStatus}
		,#{fircundangStatus}
		,#{seccundangStatus}
		,#{zfStatus}
		,#{ywyUser}
		,#{teamCode}
		)
	</insert>

	<update id="update_cdbiz" parameterType="cdbiz">
		UPDATE tqj_cdbiz
		SET
		biz_code = #{bizCode}
		,main_loaner = #{mainLoaner}
		,bank_code = #{bankCode}
		,biz_type = #{bizType}
		,dk_amount = #{dkAmount}
		,status = #{status}
		,mq_status = #{mqStatus}
		,fbhgps_status = #{fbhgpsStatus}
		,fircundang_status = #{fircundangStatus}
		,seccundang_status = #{seccundangStatus}
		,zf_status = #{zfStatus}
		,ywy_user = #{ywyUser}
		,team_code = #{teamCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_status" parameterType="cdbiz">
		UPDATE tqj_cdbiz
		SET
		status=#{status}
		WHERE code=#{code}
	</update>
	
	<update id="update_mqStatus" parameterType="cdbiz">
		UPDATE tqj_cdbiz
		SET
		mq_status=#{mqStatus}
		WHERE code=#{code}
	</update>
	
	<update id="update_fbhgpsStatus" parameterType="cdbiz">
		UPDATE tqj_cdbiz
		SET
		fbhgps_status=#{fbhgpsStatus}
		WHERE code=#{code}
	</update>
	
	<update id="update_fircundangStatus" parameterType="cdbiz">
		UPDATE tqj_cdbiz
		SET
		fircundang_status=#{fircundangStatus}
		WHERE code=#{code}
	</update>
	
	<update id="update_seccundangStatus" parameterType="cdbiz">
		UPDATE tqj_cdbiz
		SET
		seccundang_status=#{seccundangStatus}
		WHERE code=#{code}
	</update>
	
	<update id="update_zfStatus" parameterType="cdbiz">
		UPDATE tqj_cdbiz
		SET
		zf_status=#{zfStatus}
		WHERE code=#{code}
	</update>
	
	<update id="update_ywy" parameterType="cdbiz">
		UPDATE tqj_cdbiz
		SET
		ywy_user=#{ywyUser}
		WHERE code=#{code}
	</update>


</mapper>