<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICreditUserDAO">
	<resultMap id="creditUser_DB_Result" type="creditUser">
		<result column="code" property="code" />
		<result column="biz_code" property="bizCode" />
		<result column="relation" property="relation" />
		<result column="loan_role" property="loanRole" />
		<result column="user_name" property="userName" />
		
		<result column="mobile" property="mobile" />
		<result column="idKind" property="id_kind" />
		<result column="id_no" property="idNo" />
		<result column="credit_card_occupation" property="creditCardOccupation" />
        <result column="bank_credit_result" property="bankCreditResult" />
        <result column="bank_credit_result_remark" property="bankCreditResultRemark" />
        <result column="birth_address_province" property="birthAddressProvince" />
        <result column="birth_address_city" property="birthAddressCity" />
        <result column="birth_address_area" property="birthAddressArea" />
        <result column="birth_address" property="birthAddress" />
        <result column="post_code" property="postCode" />
        <result column="education" property="education" />
        <result column="company_name" property="companyName" />
        <result column="company_address" property="companyAddress" />
        <result column="company_contact_no" property="companyContactNo" />
        <result column="house_asset_address" property="houseAssetAddress" />
        <result column="id_no_front" property="idFront" />
        <result column="id_no_reverse" property="idReverse" />
        <result column="auth_pdf" property="authPdf" />
        <result column="interview_pic" property="interviewPic" />
        <result column="data_report" property="dataCreditReport" />
        <result column="bank_report" property="BankCreditReport" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="loanRole != null and loanRole != '' ">
				AND t.loan_role = #{loanRole}
			</if>
			<if test="bizCode != null and bizCode != '' ">
				AND t.biz_code = #{bizCode}
			</if>
			<if test="relation != null and relation != '' ">
				AND t.relation = #{relation}
			</if>
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>
		</trim>
	</sql>
	<select id="select_creditUser" parameterType="creditUser" resultMap="creditUser_DB_Result">
		select 
		t.code
		,t.biz_code
		,t.relation
		,t.loan_role
		,t.user_name
		
		,t.mobile
		,t.id_kind
		,t.id_no
		,t.credit_card_occupation
		,t.bank_credit_result
		
		,t.bank_credit_result_remark
		,t.birth_address_province
		,t.birth_address_city
		,t.birth_address_area
		,t.birth_address
		
		,t.post_code
		,t.education
		,t.company_name
		,t.company_address
		,t.company_contact_no
		
		,t.house_asset_address
		,t.id_no_front
		,t.id_no_reverse
		,t.auth_pdf
		,t.interview_pic
		,t.data_report
		,t.bank_report
		from tdq_credit_user t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_creditUser_count" parameterType="creditUser"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_credit_user t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_creditUser" parameterType="creditUser">
		INSERT INTO 
		tdq_credit_user(
		code
		,biz_code
		,relation
		,loan_role
		,user_name	
		
		,mobile
		,id_kind
		,id_no
		,bank_credit_result
		,bank_credit_result_remark
		,id_no_front
		,id_no_reverse
		,auth_pdf
		,interview_pic
		,data_report
		,bank_report
		)
		VALUES(
		#{code}
		,#{bizCode}
		,#{relation}
		,#{loanRole}
		,#{userName}
		
		,#{mobile}
		,#{idKind}
		,#{idNo}	
		,#{bankCreditResult}
		,#{bankCreditResultRemark}
		,#{idFront}
		,#{idReverse}
		,#{authPdf}
		,#{interviewPic}
		,#{dataCreditReport}
		,#{bankCreditReport}
		)
	</insert>
	
	<insert id="insert_creditUserList" parameterType="List">
		INSERT INTO 
		tdq_credit_user(
		code
		,biz_code
		,relation
		,loan_role
		,user_name	
		
		,mobile
		,id_kind
		,id_no
		,bank_credit_result
		,bank_credit_result_remark		
		)
		VALUES(
		<foreach collection="list" item="creditUser" separator=",">
			#{code}
		,#{bizCode}
		,#{relation}
		,#{loanRole}
		,#{userName}
		
		,#{mobile}
		,#{idKind}
		,#{idNo}	
		,#{bankCreditResult}
		,#{bankCreditResultRemark}
		</foreach>
		)
	</insert>
	
	<update id="update_bankCreditResult" parameterType="creditUser">
		UPDATE tdq_credit_user
		SET
		credit_card_occupation = #{creditCardOccupation}
		,bank_credit_result = #{bankCreditResult}
		,bank_credit_result_remark = #{bankCreditResultRemark}
		,data_report=#{dataCreditReport}
		,bank_report=#{bankCreditReport}
		WHERE 
		code = #{code}
	</update>
	
	<update id="update_creditUser" parameterType="creditUser">
		UPDATE tdq_credit_user
		SET
		loan_role = #{loanRole}
		,relation = #{relation}
		,credit_card_occupation = #{creditCardOccupation}
		,bank_credit_result = #{bankCreditResult}
		,bank_credit_result_remark = #{bankCreditResultRemark}
		,birth_address_province=#{birthAddressProvince}
		,birth_address_city=#{birthAddressCity}
		,birth_address_area=#{birthAddressArea}
		,birth_address=#{birthAddress}
		,post_code=#{postCode}
		,education=#{education}
		,company_name=#{companyName}
		,company_address=#{companyAddress}
		,company_contact_no=#{companyContactNo}
		,house_asset_address=#{houseAssetAddress}
		,data_report=#{dataCreditReport}
		,bank_report=#{bankCreditReport}
		WHERE 
		code = #{code}
	</update>
	
	<delete id="delete_creditUser" parameterType="creditUser">
		DELETE FROM tdq_credit_user 
		WHERE code = #{code} 
	</delete>
</mapper>