<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IFileListDAO">
	<resultMap id="fileList_DB_Result" type="fileList">
		<result column="id" property="id" />
		<result column="category" property="category" />
		<result column="kname" property="kname" />
		<result column="vname" property="vname" />
		<result column="attach_type" property="attachType" />
		<result column="number" property="number" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="category != null and category != '' ">
				AND t.category = #{category}
			</if>
			<if test="attach_type != null and attachType != '' ">
				AND t.attachType = #{attachType}
			</if>
			<if test="kname != null and kname != '' ">
				AND t.kname = #{kname}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
		</trim>
	</sql>
	<select id="select_fileList" parameterType="fileList" resultMap="fileList_DB_Result">
		SELECT
		t.id
		,t.category
		,t.kname
		,t.vname
		,t.attach_type
		,t.number
		,t.updater
		,t.update_datetime
		FROM
		tdq_file_list t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_fileList_count" parameterType="fileList"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_file_list t
		<include refid="where_condition" />
	</select>

	<insert id="insert_fileList" parameterType="fileList">
		INSERT INTO
		tdq_file_list(
		category
		,kname
		,vname
		,attach_type
		,number
		,updater
		,update_datetime
		)
		VALUES(
		#{category}
		,#{kname}
		,#{vname}
		,#{attachType}
		,#{number}
		,#{updater}
		,#{updateDatetime}
		)
	</insert>

	<update id="update_fileList" parameterType="fileList">
		UPDATE tdq_file_list
		SET
		category = #{category}
		,kname = #{kname}
		,vname = #{vname}
		,attach_type = #{attachType}
		,number = #{number}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE id = #{id}
	</update>

	<delete id="delete_fileList" parameterType="fileList">
		DELETE FROM tdq_file_list
		WHERE id = #{id}
	</delete>
</mapper>