<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IInterviewVideoRoomDAO">
	<resultMap id="interviewVideoRoom_DB_Result" type="interviewVideoRoom">
		<result column="code" property="code" />
		<result column="home_owner_id" property="homeOwnerId" />
		<result column="hl_url" property="hlUrl" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="budget_code" property="budgetCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="homeOwnerId != null and homeOwnerId != '' ">
				AND t.home_owner_id = #{homeOwnerId}
			</if>
			<if test="budgetCode != null and budgetCode != '' ">
				AND t.budget_code = #{budgetCode}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_interviewVideoRoom" parameterType="interviewVideoRoom" resultMap="interviewVideoRoom_DB_Result">
		SELECT
		t.code
		,t.home_owner_id
		,t.hl_url
		,t.status
		,t.create_datetime
		,t.budget_code
		FROM
		tdq_interview_video_room t 
		<include refid="where_condition" />
		order by t.create_datetime
	</select>

	<select id="select_interviewVideoRoom_count" parameterType="interviewVideoRoom"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_interview_video_room t
		<include refid="where_condition" />
	</select>

	<insert id="insert_interviewVideoRoom" parameterType="interviewVideoRoom">
		INSERT INTO
		tdq_interview_video_room(
		code
		,home_owner_id
		,hl_url
		,status
		,create_datetime
		,budget_code
		)
		VALUES(
		#{code}
		,#{homeOwnerId}
		,#{hlUrl}
		,#{status}
		,#{createDatetime}
		,#{budgetCode}
		)
	</insert>

	<update id="update_interviewVideoRoom" parameterType="interviewVideoRoom">
		UPDATE tdq_interview_video_room
		SET
		hl_url = #{hlUrl}
		,home_owner_id = #{homeOwnerId}
		,status = #{status}
		,create_datetime = #{createDatetime}
		,budget_code = #{budgetCode}
		WHERE code = #{code}
	</update>


</mapper>